html 
{
    scroll-behavior: smooth; 
}

/* -----------------------------------------END OF NAV BAR-----------------------------------*/

.title-and-status 
{
    margin-top: 10rem; 
    display: flex;
    width: fit-content; 
    height: fit-content; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 3rem;  
}

.rotation-title
{
    overflow: hidden;
    width: fit-content; 
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    background-color: var(--blue);
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);

}

#status
{
    overflow: hidden;
    color: rgb(207, 206, 206);
    border: 0.3rem solid rgb(100, 100, 100); 
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: transparent;
    width: fit-content;
}

#status-text
{
    color: var(--orange); 
}



/*---------------------PLAYERS-----------------------------------------------------*/

.player
{
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: 0.2rem solid transparent;  
    color: white;
    transition: all ease 3s;
}

#OH1
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(86, 70, 231);
    border-radius: 4rem;
    transform: translate(-50%, -50%); 
    
    /* top 10 left 20 */
    top: 10%; 
    left: 20%;  
}

#OH1.info
{
    background-color: white; 
    color: var(--violet); 
    border-color: var(--violet); 
    transition: all ease 1s; 
}

#MB2
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--green); 
    border-radius: 4rem;
    transform: translate(-50%, -50%); 

    /* top 10 left 50  */
    top: 10%;
    left: 50%;
}

#MB2.info
{
    background-color: white;
    color: var(--green); 
    border-color: var(--green); 
    transition: all ease 1s; 
}

#MB1
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(92, 155, 20);
    border-radius: 4rem;
    transform: translate(-50%, -50%); 
    
    scale: 70%;
    top: 45%;
    left: 107%; 
}

#MB1.info 
{
    background-color: white;
    color: var(--green);
    border-color: var(--green); 
    transition: all ease 1s; 
}

#S
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(192, 50, 50);
    border-radius: 4rem;
    transform: translate(-50%, -50%); 
    
    /* top 10 left 80 */
    top: 50%; 
    left: 80%;
}

#S.info 
{
    background-color: white;
    border-color: var(--red); 
    color: var(--red);
    transition: all ease 1s; 
}

#S2 
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(192, 50, 50);
    border-radius: 4rem;
    transform: translate(-50%, -50%); 

    scale: 70%;
    top: 30%;
    left: 107%; 
}

#S2.info 
{
    background-color: white;
    border-color: var(--red); 
    color: var(--red);
    transition: all ease 1s; 
}

#L
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(221, 77, 240);
    border-radius: 4rem;
    transform: translate(-50%, -50%);  

    /* top 50 left 20 */
    top: 50%; 
    left: 20%; 
}

#L.info 
{
    background-color: white;
    border-color: var(--pink); 
    color: var(--pink); 
    transition: all ease 1s; 
}

#OH2
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(86, 70, 231);
    border-radius: 4rem;
    transform: translate(-50%, -50%);

    /* top 70 left 50 */
    top: 70%;
    left: 50%;
}

#OH2.info 
{
    background-color: white;
    color: var(--violet); 
    border-color: var(--violet);
    transition: all ease 1s; 
}

#OPP
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(223, 223, 41);
    border-radius: 4rem;
    transform: translate(-50%, -50%); 

    /* top 50 left 80 */
    top: 10%;
    left: 80%;
}

#OPP.info
{
    background-color: white; 
    border-color: var(--yellow); 
    color: var(--yellow);
    transition: all ease 1s; 
}

#OPP2
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: rgb(223, 223, 41);
    border-radius: 4rem;
    transform: translate(-50%, -50%); 

    scale: 70%; 
    top: 15%; 
    left: 107%;
}

#OPP2.info 
{
    background-color: white; 
    border-color: var(--yellow); 
    color: var(--yellow);
    transition: all ease 1s; 
}




/* -------------------------------------------------END OF COURT----------------------------------------------------------------------------------------- */

.court-and-interface
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    
}
.court
{
    position: relative;
    margin: 2rem 0rem 2rem 0rem;
    width: 70%; 
    height: 26rem;
    border: 0.4rem solid white;
    background: linear-gradient(to bottom, rgb(248, 93, 3) 29%, rgb(236, 146, 72) 30%);
}

.court::after
{
    content: "";
    position: absolute;
    top: 29%;
    bottom: 69%;
    left: 0;
    right: 0;
    background-color: white;
    
}

.ten-foot
{
    margin-top: 7.5rem;
    border: 0.2rem solid white;
}

.base-border-button-container
{
    display: flex; 
    background-color: var(--blueBorder); 
    justify-content: center; 
    align-items: center; 
    width: fit-content; 
    height: fit-content; 
    padding: 0.3rem; 
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 80%, 80% 100%, 0 99%, 0% 80%, 0% 20%);
}

.base-btn
{
    position: relative;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    padding: 1rem;
    width: 8rem;
    height: 8rem;
    background-color: var(--blue); 
    color: white;
    font-size: 1.5rem;
    border-radius: 2rem 0rem 2rem 0rem;
    transition: all ease 0.25s;
    border: none; 
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 80%, 80% 100%, 0 99%, 0% 80%, 0% 20%);
}

.player-info-container
{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.player-info-text
{
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    white-space: normal;
    overflow: hidden;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1.3rem;
    width: 9rem;
    height: 5rem;
    border-bottom: 0.4rem solid var(--backColor); 
}

.read-more-btn
{
    font-family: 'Outfit', sans-serif;
    text-decoration: none; 
    font-size: 1.5rem;
    width: fit-content; 
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.623);
    color: white;
    border: none;  
    border-bottom: 0.3rem solid gray;  
    opacity: 70%;
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);

}

.read-more-btn:active 
{
    background-color: var(--orange); 
    transition: all ease 0.3s;
}

.more-info
{
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: translateY(100%);
    flex-direction: column;
    gap: 6rem;
    align-items: center; 
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 80%;
    z-index: 4;
    
    transition: all ease 0.5s; 
}

.more-info.active 
{
    transform: translateX(0%);
}

.more-info span 
{
    font-size: 1rem; 
    color: black; 
}

.more-info-text
{
    width: 70%;
    height: fit-content;
    text-align: center; 
    color: black; 
    font-size: 2rem; 
}

.rotation-changer-container
{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 3rem;
    gap: 2rem;
    
}

.base-and-info
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    background-color: var(--gray); 
}

.button-container
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    width: fit-content; 
    height: 4rem; 
    gap: 3rem; 
}


.button
{
    display: flex;
    justify-content: center;
    align-items:  center; 
    font-family: 'Outfit', sans-serif;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    padding: 1rem;
    height: fit-content;
    width: 5rem; 
    color: white;
    font-weight: bold;
    background-color: var(--blue);
    transition: all ease 0.4s; 
}

.button.active 
{
    scale: 120%;
    background-color: var(--orange); 
    border: 0.3rem solid var(--orangeBorder);
}

#serve 
{
    transition: all ease 0.2s;
    border: none; 
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.serve-border
{
    display: flex; 
    background-color: var(--blueBorder); 
    justify-content: center; 
    align-items: center; 
    width: fit-content; 
    height: fit-content; 
    padding: 0.3rem; 
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    transition: all ease 0.4s; 
}

.serve-border.active 
{
    scale: 120%; 
    background-color: var(--orangeBorder); 
    padding: 1rem; 
}

#receive 
{
    transition: all ease 0.2s;
    border: none;  
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
} 
 
.receive-border 
{
    display: flex; 
    background-color: var(--blueBorder); 
    justify-content: center; 
    align-items: center; 
    width: fit-content; 
    height: fit-content; 
    padding: 0.3rem; 
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    transition: all ease 0.4s; 

}

.receive-border.active 
{
    scale: 120%; 
    background-color: var(--orangeBorder); 
    padding: 1rem; 
}


.button-container button
{
    font-size: 1rem;
}

.rotation-chooser
{
    margin-top: 2rem;
    position: relative; 
    width: 80%;  
    height: 30rem; 
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--gray); 
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.rotation-number
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    box-sizing: border-box; 
    height: fit-content;
    width: fit-content; 
}

#num  
{
    text-align: center; 
    width: 3rem;
    font-size: 5rem;
    padding: 0rem 1rem 0rem 1rem;
}

.arrow-button-container
{
    display: flex;
    font-size: 5rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--orangeBorder); 
    clip-path: polygon(7% 0, 93% 0, 100% 20%, 100% 80%, 93% 100%, 7% 100%, 0 80%, 0 20%); 
    padding: 0.5rem;   
    scale: 80%;  
} 

.arrow-button 
{
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--orange); 
    color: white;
    font-size: 3rem; 
    transition: all ease 0.2s;
    width: 5rem;  
    border: none;  
}

#arrow-left
{
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
}

#arrow-right
{
    clip-path: polygon(0 1%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0% 20%);
}



#rotate-button
{
    display: flex;
    width: fit-content;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: none; 
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.rotate-border-button-container
{
    transition: all ease 0.4s; 
    display: flex; 
    background-color: var(--blueBorder); 
    justify-content: center; 
    align-items: center; 
    width: fit-content; 
    height: fit-content; 
    padding: 0.3rem; 
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%); 
}

.rotate-border-button-container.active
{
    background-color: (--orangeBorder); 
}

.footer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-color: var(--orange);
}

.credit
{
    color: rgb(219, 219, 219);
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    position: absolute;
    bottom: 2rem;
}

/* ------------------------------------------------------------TABLET MODE----------------------------------------------------------------------------------- */
@media only screen and (min-width: 768px)
{
    .court 
    {
        width: 50%; 
    }
}

/* Gotta figure out the media keys for ipad pro mode. shit looks goofy. too much empty space at the bottom cos its a big ass ipad*/

@media only screen and (min-width: 1280px)
{

    .wrapper
    {
        flex-direction: column;
    }

    #status
    {
        scale: 140%; 
        position: absolute; 
        left: 13rem;
    } 

    .court-and-interface
    {
        gap: 8rem;
        flex-direction: row; 
        scale: 90%;  

    }


    .court
    {
        width: 30%;
        height: 30rem; 
        margin: 4rem 0 4rem 0;
    } 

    .player 
    {
        width: 2.5rem; 
        height: 2.5rem; 
    }

    .base-and-info
    {
        flex-direction: column-reverse;
        justify-content: center; 
        width: 30%;  
        height: fit-content; 
        gap: 4rem; 
        top: 0;  
        padding: 3rem 0 3rem 0; 
        
    }

    .base-btn 
    {
        scale: 120%; 
    }

    .base-border-button-container
    {
        padding: 1.5rem; 
        scale: 120%;  
    }

    .player-info-container
    {
        gap: 3rem; 
    }

    .player-info-text
    {
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical; 
        white-space: normal;
        height: 6rem;
        overflow: hidden;
        scale: 120%; 
        line-height: 2.5rem; 
        padding: 2rem;  
    }

    .rotation-changer-container
    {
        flex-direction: row; 
        align-items: center; 
        justify-content: space-evenly; 
        gap: 4rem;  
        background-color: var(--gray); 
        padding: 4rem;  
        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%); 

    }

    .button-container 
    {
        flex-direction: row; 
    }

    #serve, #receive 
    {
        border-radius: 0;
        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    }

    .button-container button 
    {
        width: 7rem;
    }

    .rotation-chooser 
    {
        flex-direction: column; 
        margin-top: 0;
        padding: 0;
        gap: 4rem;      
        scale: 120%; 
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 100% 100%, 20% 100%, 0 100%, 0 0);
    }
 
    .rotation-chooser #rotate-button 
    {
        scale: 120%; 
    }

    .rotate-border-button-container
    { 
        scale: 120%; 
        padding: 1.25rem 2rem 1.25rem 2rem;  
    }
}
 
@media only screen and (min-width: 1920px)
{

    .wrapper
    {
        flex-direction: column; 
    }

    #status
    {
        position: absolute; 
        scale: 200%;
        left: 13rem;
    }

    .rotation-title
    {
        scale: 200%; 
    }

    .court-and-interface
    {
        flex-direction: row; 
        justify-content: space-evenly; 
        margin-top: 5rem;   
    }

    .court 
    {
        width: 35%; 
        height: 45rem;
    }

    .base-and-info
    {
        justify-content: space-evenly; 
        flex-direction: row-reverse; 
        background-color : transparent; 
        gap: 4rem; 
        width: 100%; 
    }

    .base-btn 
    {
        scale: 160%; 
    }

    .base-border-button-container
    {
        padding: 3rem; 
        scale: 130%;  
    }

    .player
    {
        width: 5rem;
        height: 5rem; 
        font-size: 2rem;
    }

    .rotation-changer-container
    {
        flex-direction: column;
        width: 40%;
    }

    .rotation-chooser 
    {
        width: 90%;  
        background-color: transparent; 
        flex-direction: row; 
        gap: 6rem; 
    }

    .rotate-border-button-container
    { 
        scale: 120%; 
        padding: 1.25rem 2rem 1.25rem 2rem;  
    }

    .button-container
    {
        flex-direction: column; 
        width: 8rem; 
    }

    .button-container button
    {
        width: 8rem;
        font-size: 1.5rem;
    }

    .footer
    {
        margin-top: 8rem; 
    }
}